<%= simple_form_for(@project_view) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :project_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
