<h1>Project Views</h1>

<table id="project_views_table">
  <thead>
    <tr>
      <th>Project type</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @project_views.each do |project_view| %>
      <tr>
        <td><%= project_view.project_type.name %></td>
        <td><%= link_to 'Show', project_view %></td>
        <td><%= link_to 'Edit', edit_project_view_path(project_view) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#project_views_table").DataTable({ 'pageLength': '100'});
</script>


<%= link_to 'New Project view', new_project_view_path %>
