<p>
  You have acknowledged that any re-publication of this book by
  yourself or by another publisher is covered by the termination provision of
  the creative team agreement (if any) for the book.  The creative team
  agreement can be found (note tab / location).  If there is no creative team
  agreement, you agree to make arrangements acceptable to other creative team
  members before using any of their work product.
</p>

<p>
  If you republish these books, please note that you will need to change

  <ul class="list-group">
    <li>The title page of the book to eliminate the Booktrope logo and reference to Booktrope</li>
    <li>The copyright page to eliminate the Booktrope ISBN numbers (most books have both a print ISBN and an EPUB ISBN listed, as well as any contact information referencing Booktrope</li>
    <li>The final page (listing more great reads from Booktrope) to remove references to Booktrope books</li>
    <li>The cover, to eliminate the references to Booktrope and the Booktrope logo, and the ISBN bar code with Booktrope’s ISBN.</li>
  </ul>
</p>
<div>
  All the best,<br><br>

  <i>Teamtrope Admin</i>
</div>
