<% if @approved %>
    <p>The cover art for this project was approved on <%= @project.cover_concept.cover_art_approval_date %>.</p>
<% else %>
    <p>The cover art for this project was not approved with the suggested changes as follows: </p>
<% end %>
    <div>
    <% unless @project.cover_concept.cover_concept_notes.nil? || @project.cover_concept.cover_concept_notes == "" %>
    <pre style="border: 2px solid black; padding: 10px; overflow: auto;">
      <%= @project.cover_concept.cover_concept_notes %>
    </pre>
    <% end %>
      Thanks,<br><br>

      - Booktrope
    </div>
<br>



