<p>Thank you for submitting your request for Netgalley. Netgalley is booked on a first come first serve basis. Your title will be fit into the next available spot.</p>
<br>
<p>- Booktrope</p>
<br>

<%= render 'table_hash' %>
