<p><%= @current_user.name %> has uploaded the final manuscript file(s) for <%= @project.title %>.</p>

<% if( ! @project.final_manuscript.pdf_file_name.nil? ) %>
<p>Download PDF: <%= link_to(@project.final_manuscript.pdf_file_name, url_for(controller: 'projects', action: 'download_final_manuscript_pdf', id: @project, only_path: false)) %></p>
<% end %>

<% if( ! @project.final_manuscript.doc_file_name.nil? ) %>
<p>Download Doc: <%= link_to(@project.final_manuscript.doc_file_name, url_for(controller: 'projects', action: 'download_final_manuscript_doc', id: @project, only_path: false)) %></p>
<% end %>
