<p>Thank you for submitting the KDP Select Update form. We will review and implement the changes or let you know if we have any questions.</p>

<p>Thanks,<br/><br/>

  Booktrope
</p>

<%= render 'table_hash' %>