<p>Thanks for submitting the KDP Select Enrollment form. We will review your entry and enroll the book or let you know if we have any questions.</p>

<p>Thanks,<br/><br/>

Booktrope
</p>

<%= render 'table_hash' %>