<p><b>Layout Approval Date: <%= @project.layout.layout_approved_date %></b></p>

<% if(@project.layout.layout_approved == 'approved_revisions') %>

    <%= render 'layout_approval_list_table' %>

<% end %>
<br>
