<p>Congratulations, your title is part of the 2nd prefunk. Please review the following information. If anything is incorrect, please use the Booktrope Assistance Tab on the right side of Teamtrope so we can update it.</p>

<p>Thanks,<br/><br/>

Booktrope
</p>

<%= render 'table_hash' %>
