<p>Thank you for submitting the Publication Fact Sheet. This gives us <br>
  what we need to complete the creation and distribution of your <br>
  book. We will review your input and let you know if we have any <br>
  questions.</p>

<p>- Booktrope</p>
<br>

<%= render 'table_hash' %>
