<p>Thank you for adding the original manuscript.</p>

<% if( ! @project.manuscript.original_file_name.nil? ) %>
    <p>Download: <%= link_to(@project.manuscript.original_file_name, url_for(controller: 'projects', action: 'download_original', id: @project, only_path: false)) %></p>
<% end %>

<div>
Happy 'troping!<br>

- Booktrope
</div>
