<% provide(:title, "Process Control Records") %>
<div id="content">
  <div class="padder">
  <h1><%= @pcr.step_name %></h1><br />
  <%= link_to "Edit", edit_process_control_record_path(@pcr) %> | <%= link_to "Back", process_control_records_path %>
	</div>
</div>