<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <h4>Please try again by clicking <%= link_to "here", "https://teamtrope.com" %>.</h4>
<% end -%>
