<h1>Editing Print Request for <br /><%= link_to @project.title, @project %></h1>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @print_corner %> |
<%= link_to 'Back', print_corners_path %>
