<h1>Workflows</h1>

<table id="workflows_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @workflows.each do |workflow| %>
      <tr>
        <td><%= workflow.name %></td>
        <td><%= link_to 'Show', workflow %></td>
        <td>
          <% if can? :edit, workflow %>
            <%= link_to 'Edit', edit_workflow_path(workflow) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#workflows_table").DataTable({ 'pageLength': '100'});
</script>


<%= link_to 'New Workflow', new_workflow_path %>
