<h1>Editing Social Media Marketing for <br /> <%= link_to @social_media_marketing.project.title, @social_media_marketing.project %></h1>

<%= render 'form' %>

<%= link_to 'Show', @social_media_marketing %> |
<%= link_to 'Back', social_media_marketings_path %>
