<h1>Editing Promotion for <%= @price_change_promotion.project.title %></h1>

<%= render 'form' %>

<%= link_to 'Show', @price_change_promotion %> |
<%= link_to 'Back', price_change_promotions_path %>
