<h1>New Price Change Promotion</h1>

<%= render 'form' %>
<script type="text/javascript">
  // Bind the Chosen helper to the select object
  $("#projects").chosen({width: '700px;'});
</script>

<%= link_to 'Back', price_change_promotions_path %>
