<h1>Editing Approve Blurb for <br /><%= link_to @project.title, @project %></h1>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Show', @approve_blurb %> |
<%= link_to 'Back', approve_blurbs_path %>
