<div class="item-list-tabs no-ajax" id="subnav" role="navigation">
	<ul>
		<li id="just-me-personal-li" class="current selected">
			<%= link_to "Personal", activity_user_path(@user), id: "just-me" %>
		</li>
		<li id="activity-mentions-personal-li">
			<%= link_to "Mentions", mentions_path, id: "activity-mentions" %>
		</li>
		<li id="activity-favs-personal-li">
			<%= link_to "Favorites", favorites_path, id: "activity-favs" %>
		</li>
		<li id="activity-groups-personal-li">
			<%= link_to "Groups", groups_path, id: "activity-groups" %>
		</li>
		<li id="activity-filter-select" class="last">
			<label for="activity-filter-by">Show:</label>
			<select id="activity-filter-by">
				<option value="-1">Everything</option>
				<option value="activity_update">Updates</option>
				<option value="new_blog_post">Posts</option>
				<option value="new_blog_comment">Comments</option>
				<option value="new_forum_topic">Forum Topics</option>
				<option value="new_forum_post">Forum Replies</option>
				<option value="created_group">New Groups</option>
				<option value="joined_group">Group Memberships</option>
				<option value="bp_doc_created">New Docs</option>
				<option value="bp_doc_edited">Doc Edits</option>
				<option value="bp_doc_comment">Doc Comments</option>
			</select>
		</li>
	</ul>
</div><!-- .item-list-tabs -->
