<!-- TODO: Remove this when development of forms is complete and we have determined where
the public activity will actually live. -->
<div id="activities" style="overflow-y: scroll; height:150px;">
  <%= render_activities(@activities, fallback: 'default') %>
</div>
