<h1>Rankings and Analytics</h1>
<div class="results" id="results"></div>
<script type='text/javascript'>
//$.post("/parse/get_amazon_sales_rank.json", {"parse": {"book":"pe2oMCIf9b"}},
//	function(data){$('div#results').text(data[0].asin);}
//	);

	<% # TODO: Refactor views/projects/show to pass the tab id as a local when calling render partial %>
	$("input[id=tab500]").change(function (event) {
        $.ajax({
            url: '<%= project_analytics_path(@project, channel: "amazon") %>',
            type: 'GET',
            success: function(analytics) {

                if(analytics.no_data) {
                    $('#daily-sales-container').html('<span>There is no sales or ranking data available for this project.</span>');
                }

                if(analytics.sales.title) {
                    new Highcharts.Chart(
                        {
                            chart:     { zoomType: 'xy', renderTo: "daily-sales-container"},
                            title:     { text: analytics.sales.title },
                            subtitle:  { text: 'Sales Intelligence Estimates (Amazon US Only)' },
                            xAxis:    [{ type: 'datetime', dateTimeLabelFormats: { month: '%e. %b',year: '%b' } }],
                            yAxis:     { title: { text: 'Sales Estimate' }, min: 0 },
                            tooltip:   { shared: true },
                            series:   [{
                                name: 'Sales',
                                color: '#1394BB',
                                type: 'column',
                                data: $.parseJSON(analytics.sales.data)
                            }]
                        });
                } else {
                    $('#daily-sales-container').html('<span>Unable to locate Sales Data.</span>');
                }

                if(analytics.rank.title) {
                    new Highcharts.Chart(
                        {
                            chart: {zoomType: 'xy', renderTo: "price-ranking-container"},
                            title: {text: analytics.rank.title},
                            subtitle: {text: 'Amazon Price and Ranking Numbers'},
                            xAxis: [{type: 'datetime', dateTimeLabelFormats: {month: '%e. %b', year: '%b'}}],
                            yAxis: [{
                                title: {text: 'Price', style: {color: '#AED991'}},
                                min: 0,
                                labels: {format: '${value}', style: {color: '#AED991'}},
                                opposite: true
                            }, {
                                labels: {format: '{value}', style: {color: '#1394BB'}},
                                min: 0,
                                title: {text: 'Ranking', style: {color: '#1394BB'}},
                                reversed: true
                            }],
                            tooltip: {shared: true},
                            legend: {
                                layout: 'vertical',
                                align: 'left',
                                x: 20,
                                verticalAlign: 'top',
                                y: 0,
                                floating: true,
                                backgroundColor: '#FFFFFF'
                            },
                            series: [
                                {
                                    name: 'Price', color: '#AED991', type: 'area',
                                    data: $.parseJSON(analytics.rank.price_data),
                                    tooltip: {valuePrefix: '$', valueDecimals: '2'}
                                },
                                {
                                    name: 'Ranking', color: '#1394BB',
                                    type: 'spline',
                                    yAxis: 1,
                                    data: $.parseJSON(analytics.rank.rank_data),
                                    tooltip: {valueSuffix: ' '}
                                }
                            ]
                        });
                } else {
                    $('#price-ranking-container').html('<span>Unable to locate Price and Ranking Data.</span>');
                }
            },
            error: function() {
                $('#daily-sales-container').html('<span>An error occurred getting analytics data.</span>');
            }
        });

        $.ajax({
            url: '<%= project_analytics_path(@project, channel: "apple") %>',
            type: 'GET',
            success: function (analytics) {
                if(analytics.no_data)
                {
                    $('#apple-daily-sales-container').html('<span>There is no apple ranking data available for this project.</span>');
                }
                else
                {
                    new Highcharts.Chart(
                    {
                        chart:     { zoomType: 'xy', renderTo: "apple-daily-sales-container"},
                        title:     { text: analytics.sales.title },
                        subtitle:  { text: 'Daily Apple Sales' },
                        xAxis:    [{ type: 'datetime', dateTimeLabelFormats: { month: '%e. %b',year: '%b' } }],
                        yAxis:     { title: { text: 'Sales Estimate' }, min: 0 },
                        tooltip:   { shared: true },
                        series:   [{
                            name: 'Sales',
                            color: '#E6583E',
                            type: 'column',
                            data: $.parseJSON(analytics.sales.data)
                        }]
                    });
                }

            }
        });



        $.ajax({
            url: '<%= project_analytics_path(@project, channel: "nook") %>',
            type: 'GET',
            success: function (analytics) {
                if(analytics.no_data)
                {
                    $('#nook-daily-sales-container').html('<span>There is no nook ranking data available for this project.</span>');
                }
                else
                {
                    new Highcharts.Chart(
                    {
                        chart:     { zoomType: 'xy', renderTo: "nook-daily-sales-container"},
                        title:     { text: analytics.sales.title },
                        subtitle:  { text: 'Daily Nook Sales' },
                        xAxis:    [{ type: 'datetime', dateTimeLabelFormats: { month: '%e. %b',year: '%b' } }],
                        yAxis:     { title: { text: 'Sales Estimate' }, min: 0 },
                        tooltip:   { shared: true },
                        series:   [{
                            name: 'Sales',
                            color: '#F0D818',
                            type: 'column',
                            data: $.parseJSON(analytics.sales.data)
                        }]
                    });
                }

            }
        });

    });
</script>
<div id="price-ranking-container" style="min-width: 910px; height: 400px; margin: 0 auto"></div>
<div id="daily-sales-container" style="min-width: 910px; height: 400px; margin: 0 auto"></div>
<div id="apple-daily-sales-container" style="min-width: 910px; height: 400px; margin: 0 auto"></div>
<div id="nook-daily-sales-container" style="min-width: 910px; height: 400px; margin: 0 auto"></div>
