<h1>Approve Cover Art</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_65" style="">
	<a id="gf_65" name="gf_65" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_65" id="gform_65" action="/projects/dejection-songs-by-alex-kimmell/#gf_65">
		<div class="gform_heading">
			<span class="gform_description">Note: This form to be submitted by Booktrope Management ONLY.</span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_65" class="gform_fields top_label description_below">
				<li id="field_65_2" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_65_2">Reviewed by<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<input name="input_2" id="input_65_2" type="text" value="justin" class="medium" tabindex="1" onchange="gf_apply_rules(65,[0]);" onkeyup="clearTimeout(__gf_timeout_handle); __gf_timeout_handle = setTimeout(&quot;gf_apply_rules(65,[0])&quot;, 300);">
					</div>
				</li>
				<li id="field_65_29" class="gfield gfield_contains_required">
					<label class="gfield_label">Is Cover Approved?<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_65_29">
							<li class="gchoice_29_0">
								<input name="input_29" type="radio" value="1" id="choice_29_0" tabindex="2" onclick="gf_apply_rules(65,[0,32]);">
								<label for="choice_29_0" id="label_29_0">Yes</label>
							</li>
							<li class="gchoice_29_1">
								<input name="input_29" type="radio" value="0" id="choice_29_1" tabindex="3" onclick="gf_apply_rules(65,[0,32]);">
								<label for="choice_29_1" id="label_29_1">No</label>
							</li>
						</ul>
					</div>
				</li>
				<li id="field_65_32" class="gfield gfield_contains_required" style="display: none;">
					<label class="gfield_label" for="input_65_32">Cover Concept Notes<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<textarea name="input_32" id="input_65_32" class="textarea medium" tabindex="4" onchange="gf_apply_rules(65,[0]);" onkeyup="clearTimeout(__gf_timeout_handle); __gf_timeout_handle = setTimeout(&quot;gf_apply_rules(65,[0])&quot;, 300);" rows="10" cols="50"></textarea>
					</div>
				</li>
				<li id="field_65_33" class="gfield">
					<label class="gfield_label" for="input_65_33">Go to Project</label>
					<div class="ginput_container">
						<input name="input_33" id="input_65_33" type="text" value="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" class="medium" tabindex="5" onchange="gf_apply_rules(65,[0]);" onkeyup="clearTimeout(__gf_timeout_handle); __gf_timeout_handle = setTimeout(&quot;gf_apply_rules(65,[0])&quot;, 300);">
					</div>
				</li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_65" class="gform_button button" value="Submit" tabindex="6" onclick="if(window[&quot;gf_submitting_65&quot;]){return false;}  window[&quot;gf_submitting_65&quot;]=true; " style="display: none;"><input type="hidden" name="gform_ajax" value="form_id=65&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_65" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="65">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_65" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_65" id="gform_target_page_number_65" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_65" id="gform_source_page_number_65" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>