        <h4>Published Files</h4>
        <img class="alignright" width="340px" src="https://teamtrope.com/wp-content/uploads/2013/07/A-Chorus-of-Wolves-Cover.jpg">
        <strong>Cover:</strong> 
        <a href="https://teamtrope.com/wp-content/uploads/2013/07/A-Chorus-of-Wolves-Cover.jpg">DOWNLOAD</a><br/>
        <strong>Mobi:</strong> N/A<br/>
        <strong>ePub:</strong> N/A<br/>
        <strong>PDF:</strong> N/A<br/>
        <h4>Final Files</h4><strong>Final PDF:</strong> N/A<br/>
        <strong>Final Doc File:</strong> N/A<br/>
        <h4>Publication Fact Sheet</h4> Final Title: <br/>
        Series Name: <br/>
        Series Number: <br/>
        Blurb: <br/>
        Blurb One Liner: <br/>
        Author Bio: <br/>
        Endorsements: <br/>
        Print Price: $0<br/>
        eBook Price: $0<br/>
        BISAC Code 1: <br/>
        BISAC Code 2: <br/>
        BISAC Code 3: <br/>
        Search Terms: <br/>
        Age Range: General Adult<br/>
        Cover Type: <br/>
        <h4>Cover Files</h4>
        <img class="alignright" width="340px" src="https://teamtrope.com/wp-content/uploads/2013/07/A-Chorus-of-Wolves-Cover.jpg"> eBook Front Cover: <a href="https://teamtrope.com/wp-content/uploads/2013/07/A-Chorus-of-Wolves-Cover.jpg">DOWNLOAD</a><br/>
        N/A<br/>
        N/A<br/>
        N/A<br/>
        <h4>Stock Image Request</h4>
        <img class="alignright" width="340px" src=""> Image Request: <br/>
        <h4>Cover Concept Notes</h4> Cover Concept Notes: <br/>
        <h4>Cover Concept</h4>N/A<br/>
        <h4>Page Count</h4>
        Final Page Count: N/A<br/>
        <h4>Marketing Release Date</h4>
        Marketing Release Date: N/A<br/>
        <h4>Layout Options</h4> 
        Layout Style: <br/>
        Use Pen Name?: No<br/>
        Use Pen Name for Copyright?: No<br/>
        <h4>Proofed Document</h4>
        Has Sub-Chapters? No<br/>
        Special Text Treatment: <br/>
        Word Count: N/A<br/>
        Previously Published?: No<br/>
        <h4>Manuscript</h4>
        N/A<br/>
        <h4>Edit Complete Date</h4>
        Edit Complete Date: 01-01-1970<br/>
        <h4>Manuscript</h4>
        N/A<br/>