<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_53" style="">
	<a id="gf_53" name="gf_53" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_53" id="gform_53" action="/projects/dejection-songs-by-alex-kimmell/#gf_53">
		<div class="gform_heading">
			<span class="gform_description">Review the options and indicate which chapter style you prefer.</span>
		</div>
		
		<div class="gform_body">
			<ul id="gform_fields_53" class="gform_fields top_label description_below">
				<li id="field_53_12" class="gfield gfield_contains_required">
					<label class="gfield_label">Select your Inside Book Title and Chapter font<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_53_12">
							<li class="gchoice_12_0">
								<input name="input_12" type="radio" value="Cambria" id="choice_12_0" tabindex="1">
								<label for="choice_12_0" id="label_12_0">Cambria<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/Cambria.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-cambria.pdf" target="_blank">see full sample</a></label>
							</li>
							<li class="gchoice_12_1">
								<input name="input_12" type="radio" value="Covington" id="choice_12_1" tabindex="2">
								<label for="choice_12_1" id="label_12_1">Covington<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/Covington.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-covington.pdf" target="_blank">see full sample</a></label>
							</li>
							<li class="gchoice_12_2">
								<input name="input_12" type="radio" value="Headline Two Exp" id="choice_12_2" tabindex="3">
								<label for="choice_12_2" id="label_12_2">Headline Two Exp<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/HeadlineTwoExp.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-headlinetwoexp.pdf" target="_blank">see full sample</a></label>
							</li>
							<li class="gchoice_12_3">
								<input name="input_12" type="radio" value="Letter Gothic" id="choice_12_3" tabindex="4">
								<label for="choice_12_3" id="label_12_3">Letter Gothic<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/LetterGothic.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-lettergothic.pdf" target="_blank">see sample</a></label>
							</li>
							<li class="gchoice_12_4">
								<input name="input_12" type="radio" value="Lobster" id="choice_12_4" tabindex="5">
								<label for="choice_12_4" id="label_12_4">Lobster<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/Lobster.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-lobster.pdf" target="_blank">see full sample</a></label>
							</li>
							<li class="gchoice_12_5">
								<input name="input_12" type="radio" value="Lucida Fax" id="choice_12_5" tabindex="6">
								<label for="choice_12_5" id="label_12_5">Lucida Fax<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/LucidaFax.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-lucidafax.pdf" target="_blank">see full sample</a></label>
							</li>
							<li class="gchoice_12_6">
								<input name="input_12" type="radio" value="M V Boli" id="choice_12_6" tabindex="7">
								<label for="choice_12_6" id="label_12_6">M V Boli<br>
								<img src="https://teamtrope.com/wp-content/uploads/2013/11/MVBoli.png"><br>
								<a href="https://teamtrope.com/wp-content/uploads/2013/04/sample-mvboli.pdf" target="_blank">see full sample</a></label>
							</li>
						</ul>
					</div>
					<div class="gfield_description">(Note: &nbsp;This font will only impact print books, not ebooks, so 9/10 readers will not be affected by this)</div>
				</li>
				<li id="field_53_14" class="gfield gfield_contains_required">
					<label class="gfield_label">Left Side Page Header Display - Name<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_53_14">
							<li class="gchoice_14_0">
								<input name="input_14" type="radio" value="Full Name" id="choice_14_0" tabindex="8">
								<label for="choice_14_0" id="label_14_0">Full Name</label>
							</li>
							<li class="gchoice_14_1">
								<input name="input_14" type="radio" value="Last Name Only" id="choice_14_1" tabindex="9">
								<label for="choice_14_1" id="label_14_1">Last Name Only</label>
							</li>
						</ul>
					</div>
					<div class="gfield_description">You are choosing the text that will display on the left side header of all interior pages in the book.

						Note: Right side page header is always the title of book
					</div>
				</li>
				<li id="field_53_15" class="gfield gfield_contains_required">
					<label class="gfield_label">Are you using a pen name on the title?<span class="gfield_required">*</span></label><div class="ginput_container"><ul class="gfield_radio" id="input_53_15"><li class="gchoice_15_0"><input name="input_15" type="radio" value="1" id="choice_15_0" tabindex="10" onclick="gf_apply_rules(53,[19,17,20]);"><label for="choice_15_0" id="label_15_0">Yes</label></li><li class="gchoice_15_1"><input name="input_15" type="radio" value="0" id="choice_15_1" tabindex="11" onclick="gf_apply_rules(53,[19,17,20]);"><label for="choice_15_1" id="label_15_1">No</label></li></ul></div></li><li id="field_53_19" class="gfield               gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_53_19">What is your pen name?<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_19" id="input_53_19" type="text" value="" class="medium" tabindex="12"></div></li><li id="field_53_17" class="gfield               gfield_contains_required" style="display: none;"><label class="gfield_label">Are you using a pen name for the copyright?<span class="gfield_required">*</span></label><div class="ginput_container"><ul class="gfield_radio" id="input_53_17"><li class="gchoice_17_0"><input name="input_17" type="radio" value="1" id="choice_17_0" tabindex="13"><label for="choice_17_0" id="label_17_0">Yes</label></li><li class="gchoice_17_1"><input name="input_17" type="radio" value="0" id="choice_17_1" tabindex="14"><label for="choice_17_1" id="label_17_1">No</label></li></ul></div><div class="gfield_description">According to the copyright office, you can use either but we generally recommend you use your legal name, unless you want to remain completely anonymous – then we can go with your pen name.  </div></li><li id="field_53_20" class="gfield               gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_53_20">What is the exact name you want to appear on the copyright?<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_20" id="input_53_20" type="text" value="" class="medium" tabindex="15"></div></li><li id="field_53_22" class="gfield"><label class="gfield_label" for="input_53_22">Go to Project</label><div class="ginput_container"><input name="input_22" id="input_53_22" type="text" value="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" class="medium" tabindex="16">
					</div>
				</li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_53" class="gform_button button" value="Submit" tabindex="17" onclick="if(window[&quot;gf_submitting_53&quot;]){return false;}  window[&quot;gf_submitting_53&quot;]=true; ">
			<input type="hidden" name="gform_ajax" value="form_id=53&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_53" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="53">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_53" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_53" id="gform_target_page_number_53" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_53" id="gform_source_page_number_53" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>