<h1>Control Numbers</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_77">
	<a id="gf_77" name="gf_77" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_77" id="gform_77" action="/projects/dejection-songs-by-alex-kimmell/#gf_77">
		<div class="gform_heading">
			<span class="gform_description"></span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_77" class="gform_fields top_label description_below">
				<li id="field_77_29" class="gfield">
					<label class="gfield_label">Imprint</label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_77_29">
							<li class="gchoice_29_0">
								<input name="input_29" type="radio" value="Booktrope" id="choice_29_0" tabindex="1">
								<label for="choice_29_0" id="label_29_0">Booktrope</label>
							</li>
							<li class="gchoice_29_1">
								<input name="input_29" type="radio" value="Vox Dei" id="choice_29_1" tabindex="2">
								<label for="choice_29_1" id="label_29_1">Vox Dei</label>
							</li>
							<li class="gchoice_29_2">
								<input name="input_29" type="radio" value="Entice" id="choice_29_2" tabindex="3">
								<label for="choice_29_2" id="label_29_2">Entice</label>
							</li>
						</ul>
					</div>
				</li>
				<li id="field_77_30" class="gfield">
					<label class="gfield_label" for="input_77_30">eBook Library Price</label>
					<div class="ginput_container">
						<input name="input_30" id="input_77_30" type="text" value="" class="medium" tabindex="4">
					</div>
				</li>
				<li id="field_77_20" class="gfield">
					<label class="gfield_label" for="input_77_20">ASIN</label>
					<div class="ginput_container">
						<input name="input_20" id="input_77_20" type="text" value="B00FQSXW88" class="medium" tabindex="5">
					</div>
				</li>
				<li id="field_77_22" class="gfield">
					<label class="gfield_label" for="input_77_22">Apple Id</label>
					<div class="ginput_container">
						<input name="input_22" id="input_77_22" type="text" value="724873020" class="medium" tabindex="6">
					</div>
				</li>
				<li id="field_77_27" class="gfield">
					<label class="gfield_label" for="input_77_27">epub ISBN</label>
					<div class="ginput_container">
						<input name="input_27" id="input_77_27" type="text" value="978-1-62015-279-9" class="medium" tabindex="7">
					</div>
				</li>
				<li id="field_77_12" class="gfield">
					<label class="gfield_label" for="input_77_12">Hardback ISBN</label>
					<div class="ginput_container">
						<input name="input_12" id="input_77_12" type="text" value="" class="medium" tabindex="8">
					</div>
				</li>
				<li id="field_77_21" class="gfield">
					<label class="gfield_label" for="input_77_21">Paperback ISBN</label>
					<div class="ginput_container">
						<input name="input_21" id="input_77_21" type="text" value="978-1-62015-183-9" class="medium" tabindex="9">
					</div>
				</li>
				<li id="field_77_28" class="gfield">
					<label class="gfield_label" for="input_77_28">Parse Id</label>
					<div class="ginput_container">
						<input name="input_28" id="input_77_28" type="text" value="6g5UBDYCkT" class="medium" tabindex="10">
					</div>
				</li>
      </ul>
    </div>
    <div class="gform_footer top_label"> 
    	<input type="submit" id="gform_submit_button_77" class="gform_button button" value="Submit" tabindex="11" onclick="if(window[&quot;gf_submitting_77&quot;]){return false;}  window[&quot;gf_submitting_77&quot;]=true; ">
    	<input type="hidden" name="gform_ajax" value="form_id=77&amp;title=&amp;description=1&amp;tabindex=1">
    	<input type="hidden" class="gform_hidden" name="is_submit_77" value="1">
    	<input type="hidden" class="gform_hidden" name="gform_submit" value="77">
    	<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
    	<input type="hidden" class="gform_hidden" name="state_77" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
    	<input type="hidden" class="gform_hidden" name="gform_target_page_number_77" id="gform_target_page_number_77" value="0">
    	<input type="hidden" class="gform_hidden" name="gform_source_page_number_77" id="gform_source_page_number_77" value="1">
    	<input type="hidden" name="gform_field_values" value="">
    </div>
  </form>
</div>