<div class="container">
  <h1><%= current_tab.task.display_name %></h1>
  <p>
  We apologize. This step in the process is having trouble.<br />
  Please contact the person who did your book layout and give them your changes.<br />
  This is temporary.<br />
  </p>
</div>
