<div class="container">

  <h1>Please Accept the Following Terms</h1>

  <p>
    File download link:
  </p>

  <p>
    This new link is designed to make it easier for authors to download files
    that may be needed for re-publishing books after Booktrope closes down.
    This link provides access to downloadable copies of published books in
    Kindle format (.mobi) and ebook format suitable for use on other platforms
    (.epub).  It also provides access to downloadable PDF copies of the book
    interior print layout and cover templates prepared for CreateSpace and
    Lightning Source.
  </p>

  <p>
    By clicking below, you acknowledge that any re-publication of this book by
    yourself or by another publisher is covered by the termination provision of
    the creative team agreement (if any) for the book.  The creative team
    agreement can be found (note tab / location).  If there is no creative team
    agreement, you agree to make arrangements acceptable to other creative team
    members before using any of their work product.
  </p>

  <p>
  If you republish these books, please note that you will need to change

  <ul class="list-group">
    <li>The title page of the book to eliminate the Booktrope logo and reference to Booktrope</li>
    <li>The copyright page to eliminate the Booktrope ISBN numbers (most books have both a print ISBN and an EPUB ISBN listed, as well as any contact information referencing Booktrope</li>
    <li>The final page (listing more great reads from Booktrope) to remove references to Booktrope books</li>
    <li>The cover, to eliminate the references to Booktrope and the Booktrope logo, and the ISBN bar code with Booktrope’s ISBN.</li>
  </ul>
  <p>

    <%= simple_form_for @project,
                        url: url_for(
                                    controller: 'projects',
                                    action: 'accept_terms',
                                    id: @project),
                        html: {id: 'accept_terms'} do |f| %>

      <%= f.error_notification %>
      <%= hidden_field_tag :submitted_task_id, current_tab.task.id, id: 'accepted_terms_submitted_task_id' %>

      <%= f.submit 'Accept Terms', class: 'btn btn-primary' %>
    <% end %>
</div>
