<h1>Editing Complete Date</h1>
<%= simple_form_for @project, url: url_for(:controller => 'projects', :action => 'edit_complete_date', id: @project.id) do | f | %>
<%= f.error_notification %>

		The team commits to completing the editing process by the date entered below. This step must be completed as soon as possible after the editor and author agree to work together. We will not issue a creative team agreement until this step is complete.
		
		<%= f.input :edit_complete_date, as: :date, start_year: Date.today.year, 
					label: "Editing Complete Commited Date", 
					hint: "Please enter the date that the team commits to completing the final edit",
					required: true  %>

		<%= f.submit "submit" %>

<% end %>