<div class="container">
  <h1>KDP Select Enrollment</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>You are already enrolled in KDP Select</h4>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Enrollment Date</dt>
            <dd><%= @project.kdp_select_enrollment.enrollment_date %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
