<div class="container">
  <h1>KDP Select Enrollment</h1>
  <div class="row">
    <div class="col-md-6">
      <p>
        You already enrolled in KDP Select on<%= @project.kdp_select_enrollment.enrollment_date %>
      </p>
      <p>
        Go to the <strong>KDP Update</strong> tab to schedule promotions or to end your enrollment.
      </p>
    </div>
  </div>
</div>
