<h1>Media Kit</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_55">
	<a id="gf_55" name="gf_55" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_55" id="gform_55" action="/projects/dejection-songs-by-alex-kimmell/#gf_55">
		<div class="gform_heading">
			<span class="gform_description"></span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_55" class="gform_fields top_label description_below">
				<li id="field_55_8" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_55_8">Media Kit<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<input type="hidden" name="MAX_FILE_SIZE" value="125829120">
						<input name="input_8" id="input_55_8" type="file" class="medium" tabindex="1">
					</div>
					<div class="gfield_description">.doc, .docx, or .pdf only
						If you have more than one book published by Booktrope and would like to be considered for a blog tour or other marketing service around your book release, please upload your media kit here.
					</div>
				</li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_55" class="gform_button button" value="Submit" tabindex="2" onclick="if(window[&quot;gf_submitting_55&quot;]){return false;}  window[&quot;gf_submitting_55&quot;]=true; ">
			<input type="hidden" name="gform_ajax" value="form_id=55&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_55" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="55">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_55" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_55" id="gform_target_page_number_55" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_55" id="gform_source_page_number_55" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>