<div class="container">
  <h1>Netgalley Submission</h1>

  <% if @project.netgalley_submission.nil? %>
  <div class="row">
    <div class="col-md-10">
      <p>
        Please use this form if you are interested in having your title submitted
        to Netgalley which is a review service. The cost for a month on Netgalley
        is $40 and will be treated as a normal marketing expense. These spots are
        available on a first come first serve basis. You will need to have the
        Epub file available when you submit the title.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <%= simple_form_for @project,
                            url: url_for(controller: 'projects', action: 'new_netgalley_submission', id: @project),
                            html: { id: 'netgalley_submission' } do | f | %>

          <%= f.simple_fields_for :netgalley_submission,
                  ((f.object.netgalley_submission.nil?) ? f.object.build_netgalley_submission : f.object.netgalley_submission) do | netgalley_submission | %>

            <%= render "shared/netgalley_fields", builder: netgalley_submission %>

            <%= f.submit "Submit" %>
          <% end %>
        <% end %>
    </div>
  </div>
  <% else %>
  <div>
    Your title has already been submitted for Netgalley.
  </div>
  <% end %>
</div>



