<h1>Free/Price Promo</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_58" style="">
	<a id="gf_58" name="gf_58" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_58" id="gform_58" action="/projects/dejection-songs-by-alex-kimmell/#gf_58">
		<div class="gform_heading">
			<span class="gform_description">
				<p>NOTE: If you are enrolled in KDP Select, DO NOT use this form to schedule your Free or Kindle Countdown promotions. For KDP promos, please use the "KDP Update" Form located in your book's Project.</p> 
				<p>For more information how to schedule and effectively and execute a free book campaign, check out <a href="https://teamtrope.com/docs/free-book-promotions/" target="blank">this document</a>.</p>
				<p>If you choose an iTunes/Force Free promotion, there is NO guarantee your book will go free on Amazon.  Please do not commit to any promotional spend or ads until Amazon has actually made your book free.</p>
				<p>PLEASE REVIEW THE FREE BOOK PROMOTION GUIDELINES BEFORE PROCEEDING:  <a href="https://teamtrope.com/docs/free-book-promotions-2/">Free Book Promos</a></p>
			</span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_58" class="gform_fields top_label description_below">
				<li id="field_58_20" class="gfield gfield_contains_required"><label class="gfield_label" for="input_58_20">Author Name (as published)<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_20" id="input_58_20" type="text" value="" class="medium" tabindex="1"></div></li>
				<li id="field_58_26" class="gfield gfield_contains_required">
					<label class="gfield_label">Please select the type of promotion you'd like to schedule<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_58_26"><li class="gchoice_26_0"><input name="input_26" type="radio" value="temp_itunes_ffree" id="choice_26_0" tabindex="2" onclick="gf_apply_rules(58,[22,24,25,27,18,12,19,21,17]);"><label for="choice_26_0" id="label_26_0">Temporary iTunes/Force free</label></li>
							<li class="gchoice_26_1"><input name="input_26" type="radio" value="temp_price_promo" id="choice_26_1" tabindex="3" onclick="gf_apply_rules(58,[22,24,25,27,18,12,19,21,17]);"><label for="choice_26_1" id="label_26_1">Temporary Price promotion</label></li>
							<li class="gchoice_26_2"><input name="input_26" type="radio" value="perm_itunes_ffree" id="choice_26_2" tabindex="4" onclick="gf_apply_rules(58,[22,24,25,27,18,12,19,21,17]);"><label for="choice_26_2" id="label_26_2">Permanent iTunes/Force free</label></li>
							<li class="gchoice_26_3"><input name="input_26" type="radio" value="permanent" id="choice_26_3" tabindex="5" onclick="gf_apply_rules(58,[22,24,25,27,18,12,19,21,17]);"><label for="choice_26_3" id="label_26_3">Permanent or Indefinite Time* Price change</label></li>
						</ul>
					</div>
					<div class="gfield_description">*If you are doing a promotion and want a temporary price change but you aren't sure when you'll want to raise the price again (or what price you'll want to raise it to), use this option.  Please be sure to submit this form again, using the Permanent Price Change option, when you want the book removed from "free" status and priced on iTunes again.</div>
				</li>
				<li id="field_58_22" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_22">Please enter the name of the promotion vehicle<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_22" id="input_58_22" type="text" value="" class="medium" tabindex="6"></div><div class="gfield_description">Enter the name of the promotion this price change relates to (Fussy Librarian, Kindle Books And Tips, etc.)</div></li>
				<li id="field_58_24" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_24">Force Free Start Date<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_24" id="input_58_24" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="7"> </div><input type="hidden" id="gforms_calendar_icon_input_58_24" class="gform_hidden" value="https://teamtrope.com/wp-content/plugins/gravityforms/images/calendar.png"></li>
				<li id="field_58_25" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_25">Force Free End Date<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_25" id="input_58_25" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="8"> </div><input type="hidden" id="gforms_calendar_icon_input_58_25" class="gform_hidden" value="https://teamtrope.com/wp-content/plugins/gravityforms/images/calendar.png"></li>
				<li id="field_58_27" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_27">Price after Force Free<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_27" id="input_58_27" type="text" value="" class="small" tabindex="9"></div></li>
				<li id="field_58_18" class="gfield gfield_contains_required" style="display: block;"><label class="gfield_label" for="input_58_18">Price Promotion Start Date<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_18" id="input_58_18" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="10"> </div><input type="hidden" id="gforms_calendar_icon_input_58_18" class="gform_hidden" value="https://teamtrope.com/wp-content/plugins/gravityforms/images/calendar.png"><div class="gfield_description">Please provide the date you would like your promotion to be in effect by.  Note it can take up to 48 hours for a price change to take effect, and it requires a manual effort by our team.  Please submit your request at least 5 days in advance to ensure we have time to make the change.  It is likely the change will be implemented a few days in advance.</div></li>
				<li id="field_58_12" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_12">Price During Promotion<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_12" id="input_58_12" type="text" value="" class="small" tabindex="11"></div><div class="gfield_description">Please let us know what price you would like your ebook changed to.</div></li>
				<li id="field_58_19" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_19">Price Promotion End Date<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_19" id="input_58_19" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="12"> </div><input type="hidden" id="gforms_calendar_icon_input_58_19" class="gform_hidden" value="https://teamtrope.com/wp-content/plugins/gravityforms/images/calendar.png"><div class="gfield_description">Please provide the last date your promotion will be in effect at the promotion price.  We will reinstate the regular price the following day.  Again, it may take 24-48 hours before our sales channels are update.</div></li>
				<li id="field_58_21" class="gfield gfield_contains_required" style="display: none;"><label class="gfield_label" for="input_58_21">Price After Promotion<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_21" id="input_58_21" type="text" value="" class="small" tabindex="13"></div><div class="gfield_description">Please let us know what price you would like your ebook after the promotion ends.</div></li>
				<li id="field_58_17" class="gfield" style="display: none;">
					<label class="gfield_label">Get the word out about your $0.99 price promotions and contact the sites below</label>
					<div class="ginput_container">
						<ul class="gfield_checkbox" id="input_58_17">
							<li class="gchoice_17_1"><input name="input_17.1" type="checkbox" value="The Midlist (Only submit for Free Feature, not the $100 ad) - https://www.themidlist.com/submit" id="choice_17_1" tabindex="14"><label for="choice_17_1" id="label_17_1">The Midlist (Only submit for Free Feature, not the $100 ad) - https://www.themidlist.com/submit</label></li>
							<li class="gchoice_17_2"><input name="input_17.2" type="checkbox" value="Bargain Booksy (only submit for free editorial consideration, not the $50 guarantee) - http://bargainbooksy.com/for-authors/" id="choice_17_2" tabindex="15"><label for="choice_17_2" id="label_17_2">Bargain Booksy (only submit for free editorial consideration, not the $50 guarantee) - http://bargainbooksy.com/for-authors/</label></li>
						</ul>
					</div>
					<div class="gfield_description">If you're doing a $0.99 promotion, we strongly encourage you to submit to these sites to help let readers know about the deal.  Don't forget to spread the word on social media as well!
						*Booktrope will pay this expense and treat it as a marketing expense shared across the team.  Please use the following paypal address accounting@booktrope.com.
					</div>
				</li>
				<li id="field_58_2" class="gfield gsection"><h2 class="gsection_title">Project Info</h2><div class="gsection_description">For admin use only. Please leave as is.</div></li>
				<li id="field_58_3" class="gfield gfield_contains_required"><label class="gfield_label" for="input_58_3">Book Project (Working Title)<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_3" id="input_58_3" type="text" value="A Chorus of Wolves" class="medium" tabindex="16"></div></li>
				<li id="field_58_4" class="gfield gfield_contains_required"><label class="gfield_label" for="input_58_4">Project ID<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_4" id="input_58_4" type="text" value="6187" class="medium" tabindex="17"></div></li>
				<li id="field_58_5" class="gfield gfield_contains_required"><label class="gfield_label" for="input_58_5">Submitted by<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_5" id="input_58_5" type="text" value="Justin Jeffress" class="medium" tabindex="18"></div></li>
				<li id="field_58_7" class="gfield gfield_contains_required"><label class="gfield_label" for="input_58_7">UserName<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_7" id="input_58_7" type="text" value="justin" class="medium" tabindex="19"></div></li>
				<li id="field_58_6" class="gfield"><label class="gfield_label" for="input_58_6">Email</label><div class="ginput_container"><input name="input_6" id="input_58_6" type="text" value="justin.jeffress@booktrope.com" class="medium" tabindex="20"></div></li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_58" class="gform_button button" value="Submit" tabindex="21" onclick="if(window[&quot;gf_submitting_58&quot;]){return false;}  window[&quot;gf_submitting_58&quot;]=true; ">
			<input type="hidden" name="gform_ajax" value="form_id=58&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_58" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="58">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_58" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_58" id="gform_target_page_number_58" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_58" id="gform_source_page_number_58" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>