<h1>Project Interest Sign-up</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_38">
	<a id="gf_38" name="gf_38" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_38" id="gform_38" action="/projects/dejection-songs-by-alex-kimmell/#gf_38">
		<div class="gform_heading">
			<span class="gform_description">Booktrope Management, I'm interested in working on this project! Please review my qualifications and pass my name on to the other team members for consideration.</span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_38" class="gform_fields left_label description_below">
				<li id="field_38_1" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_38_1_3">Name<span class="gfield_required">*</span></label>
					<div class="ginput_complex ginput_container" id="input_38_1">
						<span id="input_38_1_3_container" class="ginput_left">
							<input type="text" name="input_1.3" id="input_38_1_3" value="" tabindex="1">
							<label for="input_38_1_3">First</label>
						</span>
						<span id="input_38_1_6_container" class="ginput_right">
							<input type="text" name="input_1.6" id="input_38_1_6" value="" tabindex="2">
							<label for="input_38_1_6">Last</label>
						</span>
						<div class="gf_clear gf_clear_complex"></div>
					</div>
				</li>
				<li id="field_38_2" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_38_2">Teamtrope ID<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<input name="input_2" id="input_38_2" type="text" value="justin" class="medium" tabindex="3">
					</div>
				</li>
				<li id="field_38_4" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_38_4">Book Project<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<input name="input_4" id="input_38_4" type="text" value="A Chorus of Wolves" class="medium" tabindex="4">
					</div>
				</li>
				<li id="field_38_5" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_38_5">Desired Role<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<select name="input_5" id="input_38_5" class="medium gfield_select" tabindex="5">
							<option value="Editor">Editor</option>
							<option value="Book Manager">Book Manager</option>
							<option value="Cover Designer">Cover Designer</option>
							<option value="Proofreader">Proofreader</option>
						</select>
					</div>
				</li>
				<li id="field_38_6" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_38_6">Here's why I'll be great for this gig<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<textarea name="input_6" id="input_38_6" class="textarea medium" tabindex="6" rows="10" cols="50"></textarea>
						<div class="charleft ginput_counter">0 of 2000 max characters</div>
					</div>
				</li>
				<li id="field_38_7" class="gfield">
					<label class="gfield_label" for="input_38_7">Email</label>
					<div class="ginput_container">
						<input name="input_7" id="input_38_7" type="text" value="justin.jeffress@booktrope.com" class="medium" tabindex="7">
					</div>
				</li>
				<li id="field_38_8" class="gfield">
					<label class="gfield_label" for="input_38_8">Go to</label>
					<div class="ginput_container">
						<input name="input_8" id="input_38_8" type="text" value="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" class="medium" tabindex="8">
					</div>
				</li>
			</ul>
		</div>			
		<div class="gform_footer left_label">
			<input type="submit" id="gform_submit_button_38" class="gform_button button" value="Submit" tabindex="9" onclick="if(window[&quot;gf_submitting_38&quot;]){return false;}  window[&quot;gf_submitting_38&quot;]=true; ">
			<input type="hidden" name="gform_ajax" value="form_id=38&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_38" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="38">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_38" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_38" id="gform_target_page_number_38" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_38" id="gform_source_page_number_38" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>