        <strong>Status: </strong><a href="https://teamtrope.com/status/cover-complete/" rel="tag">Cover Complete</a>, <a href="https://teamtrope.com/status/pfs-complete/" rel="tag">PFS Complete</a>, <a href="https://teamtrope.com/status/95-00/" rel="tag">Published</a></p><h5>Workflow Step</h5><strong>Production:</strong> Published <br/><strong>Design:</strong> Cover Complete<br/><strong>Marketing:</strong> PFS Complete<br/><br/>Original Synopsis:<br/>
        <div class='entry'>
          <p>A collection of shorts by author Alex Kimmell:</p>
          <p><a href="https://teamtrope.com/wp-content/uploads/bpfb/11_0.414141001374197604_down-the-sunday-hole-7-18-13.doc" target="_blank">”Down the Sunday Hole”</a></p>
          <p><a href="https://teamtrope.com/wp-content/uploads/bpfb/11_0.438331001374197604_kodi-7-8-13.doc" target="_blank">”Kodi”</a></p>
          <p><a href="https://teamtrope.com/wp-content/uploads/bpfb/11_0.457499001374197604_a-chorus-of-wolves.doc" target="_blank">”A Chorus Of Wolves”</a></p>
          <p><a href="https://teamtrope.com/wp-content/uploads/bpfb/11_0.460260001374197604_suite-sweet-7-8-13.docx" target="_blank">”Suite Sweet”</a></p>
          <p>&#8220;Kodi&#8221;</p>
          <p>&#8220;Josephine&#8221;</p>
        </div><!-- end of entry -->		
