<h5>Workflow Step</h5>

<% @project.current_tasks.includes(:task => :workflow).order("workflows.name asc").each do | ct | %>
  <strong><%= ct.task.workflow.name %>:</strong> <%= ct.task.name %><br/>
<% end %>
<br/>

<% if @project.synopsis? %>
Original Synopsis:<br/>
<div class='entry'>
  <%= @project.synopsis.html_safe %>

</div><!-- end of entry -->
<% end %>
<%= render @project.manuscript unless @project.manuscript.nil? %>
