<h1>Paperback Orders & Other Production Costs</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_79" style="">
	<a id="gf_79" name="gf_79" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_79" id="gform_79" action="/projects/dejection-songs-by-alex-kimmell/#gf_79">
		<div class="gform_heading">
			<span class="gform_description">For Booktrope team members to record cost of paperback orders for accounting purposes</span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_79" class="gform_fields top_label description_below">
				<li id="field_79_27" class="gfield"><label class="gfield_label" for="input_79_27">Book Title</label><div class="ginput_container"><input name="input_27" id="input_79_27" type="text" value="A Chorus of Wolves" class="medium" tabindex="1"></div></li>
				<li id="field_79_3" class="gfield"><label class="gfield_label" for="input_79_3">Total Quantity Ordered</label><div class="ginput_container"><input name="input_3" id="input_79_3" type="text" value="" class="medium" tabindex="2"></div></li>
				<li id="field_79_21" class="gfield"><label class="gfield_label" for="input_79_21">Total cost of order (per LSI, BN or other vendor)</label><div class="ginput_container"><input name="input_21" id="input_79_21" type="text" value="" class="medium" tabindex="3"></div></li>
				<li id="field_79_5" class="gfield"><label class="gfield_label" for="input_79_5">Quantity treated as complimentary</label><div class="ginput_container"><input name="input_5" id="input_79_5" type="text" value="" class="medium" tabindex="4"><div class="instruction ">Please enter a value less than or equal to <strong>10</strong>.</div></div></li>
				<li id="field_79_24" class="gfield"><label class="gfield_label" for="input_79_24">Value of complimentary copies</label><div class="ginput_container"><input name="input_24" id="input_79_24" type="text" value="" class="medium" tabindex="5" readonly="readonly"></div><div class="gfield_description">=# of complimentary copies / Total copies ordered * Total cost of LSI order</div></li>
				<li id="field_79_6" class="gfield"><label class="gfield_label" for="input_79_6">Quantity treated as author advance</label><div class="ginput_container"><input name="input_6" id="input_79_6" type="text" value="" class="medium" tabindex="6"></div></li>
				<li id="field_79_23" class="gfield"><label class="gfield_label" for="input_79_23">Value treated as author advance</label><div class="ginput_container"><input name="input_23" id="input_79_23" type="text" value="" class="medium" tabindex="7" readonly="readonly"></div><div class="gfield_description">=# of advance copies / Total copies ordered * Total cost of LSI order</div></li>
				<li id="field_79_8" class="gfield"><label class="gfield_label" for="input_79_8">Quantity treated as Purchased Copies</label><div class="ginput_container"><input name="input_8" id="input_79_8" type="text" value="" class="medium" tabindex="8"></div><div class="gfield_description">This may include author purchased copies, team member purchased copies or 3rd party orders</div></li>
				<li id="field_79_22" class="gfield"><label class="gfield_label" for="input_79_22">Total cost of Purchased copies</label><div class="ginput_container"><input name="input_22" id="input_79_22" type="text" value="" class="medium" tabindex="9" readonly="readonly"></div><div class="gfield_description">This is the actual cost of the order (including S&amp;H) from LSI</div></li>
				<li id="field_79_20" class="gfield"><label class="gfield_label" for="input_79_20">Value of Purchased Copies to invoice via Paypal</label><div class="ginput_container"><input name="input_20" id="input_79_20" type="text" value="" class="medium" tabindex="10"></div><div class="gfield_description">First 100 author copies provided at cost; additional at 50% off list.
					Pricing Policy on author copies can be found here:  https://teamtrope.com/docs/booktrope-policy-author-copies/
					Pricing Policy on 3rd party orders can be found here: https://teamtrope.com/docs/bulk-orders-to-a-3rd-party-special-pricing/</div>
				</li>
				<li id="field_79_25" class="gfield"><label class="gfield_label" for="input_79_25">Explanation of how Value of Purchased Copies was calculated</label><div class="ginput_container"><input name="input_25" id="input_79_25" type="text" value="" class="medium" tabindex="11"></div><div class="gfield_description">Example, 100 books at cost, 50 books at 50% off list</div></li>
				<li id="field_79_10" class="gfield"><label class="gfield_label" for="input_79_10">Quantity used for marketing purposes</label><div class="ginput_container"><input name="input_10" id="input_79_10" type="text" value="" class="medium" tabindex="12" onchange="gf_apply_rules(79,[19]);" onkeyup="clearTimeout(__gf_timeout_handle); __gf_timeout_handle = setTimeout(&quot;gf_apply_rules(79,[19])&quot;, 300);"></div></li>
				<li id="field_79_19" class="gfield" style="display: none;"><label class="gfield_label" for="input_79_19">Value of books for marketing purposes</label><div class="ginput_container"><input name="input_19" id="input_79_19" type="text" value="" class="medium" tabindex="13" readonly="readonly"></div><div class="gfield_description">=Total cost of BN order</div></li>
				<li id="field_79_12" class="gfield"><label class="gfield_label">Additional costs</label>
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_79_12">
							<li class="gchoice_12_0"><input name="input_12" type="radio" value="Setup fee - ebook only" id="choice_12_0" tabindex="14"><label for="choice_12_0" id="label_12_0">Setup fee - ebook only</label></li>
							<li class="gchoice_12_1"><input name="input_12" type="radio" value="Setup fee - ebook &amp; print" id="choice_12_1" tabindex="15"><label for="choice_12_1" id="label_12_1">Setup fee - ebook &amp; print</label></li>
							<li class="gchoice_12_2"><input name="input_12" type="radio" value="Revision &amp; Resubmission Fee" id="choice_12_2" tabindex="16"><label for="choice_12_2" id="label_12_2">Revision &amp; Resubmission Fee</label></li>
							<li class="gchoice_12_3"><input name="input_12" type="radio" value="Proof copy" id="choice_12_3" tabindex="17"><label for="choice_12_3" id="label_12_3">Proof copy</label></li>
							<li class="gchoice_12_4"><input name="input_12" type="radio" value="Donation" id="choice_12_4" tabindex="18"><label for="choice_12_4" id="label_12_4">Donation</label></li>
						</ul>
					</div>
				</li>
				<li id="field_79_18" class="gfield"><label class="gfield_label" for="input_79_18">Total of additional costs to be allocated to teams</label><div class="ginput_container"><input name="input_18" id="input_79_18" type="text" value="" class="medium" tabindex="19"></div></li>
				<li id="field_79_17" class="gfield"><label class="gfield_label" for="input_79_17">Total of additional costs to be absorbed by Booktrope</label><div class="ginput_container"><input name="input_17" id="input_79_17" type="text" value="" class="medium" tabindex="20"></div></li>
				<li id="field_79_26" class="gfield gfield_contains_required"><label class="gfield_label" for="input_79_26">Date costs should allocated against revenue<span class="gfield_required">*</span></label><div class="ginput_container"><input name="input_26" id="input_79_26" type="text" value="" class="datepicker medium mdy datepicker_no_icon hasDatepicker" tabindex="21"> </div><input type="hidden" id="gforms_calendar_icon_input_79_26" class="gform_hidden" value="https://teamtrope.com/wp-content/plugins/gravityforms/images/calendar.png"></li>
				<li id="field_79_28" class="gfield field_admin_only"><input name="input_28" id="input_79_28" class="gform_hidden" type="hidden" value=""></li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_79" class="gform_button button" value="Submit" tabindex="22" onclick="if(window[&quot;gf_submitting_79&quot;]){return false;}  window[&quot;gf_submitting_79&quot;]=true; ">
			<input type="hidden" name="gform_ajax" value="form_id=79&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_79" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="79">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_79" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_79" id="gform_target_page_number_79" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_79" id="gform_source_page_number_79" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>