
<!-- Team -->
<div class="container">
  <h1>Our Team</h1>
  <div class="row">
    <div class="col-md-6 members dir-list" id="members-dir-list">

      <ul id="members-list" class="item-list">
        <% @project.team_members_with_roles.each do | member_with_roles | %>
          <li>

            <div class="item-avatar">
              <%= link_to image_tag(avatar_url(member_with_roles[:member], :medium, '180'),
                      size: "180x180",
                      class: "avatar user-#{member_with_roles[:member].id}-avatar avatar- photo",
                      alt: "Profile picture of #{member_with_roles[:member].name}"),
                      member_with_roles[:member].profile_page %>
            </div>

            <div class="item">
              <div class="item-title">
                <%= link_to member_with_roles[:member].name, member_with_roles[:member].profile_page %><br />
                <%= member_with_roles[:roles] %><br />
              </div>

              <div class="item-meta"></div>
            </div>

          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
