<h1>Update Project Status</h1>

<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_74">
	<a id="gf_74" name="gf_74" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_74" id="gform_74" action="/projects/dejection-songs-by-alex-kimmell/#gf_74">
		<div class="gform_heading">
			<span class="gform_description"></span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_74" class="gform_fields top_label description_below">
				<li id="field_74_11" class="gfield gfield_contains_required">
					<label class="gfield_label">Type of update<span class="gfield_required">*</span></label>
			
					<div class="ginput_container">
						<ul class="gfield_radio" id="input_74_11">
							<li class="gchoice_11_0">
								<input name="input_11" type="radio" value="Status Update" checked="checked" id="choice_11_0" tabindex="1">
								<label for="choice_11_0" id="label_11_0">We're doing fine, just our weekly update</label>
							</li>
							<li class="gchoice_11_1">
								<input name="input_11" type="radio" value="Help Request" id="choice_11_1" tabindex="2">
								<label for="choice_11_1" id="label_11_1">We have a question / we're stuck, help!</label>
							</li>
						</ul>
					</div>
					<div class="gfield_description">We're here to help! Let us know if you need assistance or if your project is stalled for some reason. No question is too small.  Please note, however, that the information you submit in this form is public to the Teamtrope community.  </div>
				</li>
				<li id="field_74_10" class="gfield">
					<label class="gfield_label" for="input_74_10">Status</label>
					<div class="ginput_container">
						<textarea name="input_10" id="input_74_10" class="textarea small" tabindex="3" rows="10" cols="50"></textarea>
					</div>
					<div class="gfield_description">Enter the current status for your project. </div>
				</li>
	    </ul>
  	</div>
  	<div class="gform_footer top_label"> 
  		<input type="submit" id="gform_submit_button_74" class="gform_button button" value="Submit" tabindex="4" onclick="if(window[&quot;gf_submitting_74&quot;]){return false;}  window[&quot;gf_submitting_74&quot;]=true; ">
    	<input type="hidden" name="gform_ajax" value="form_id=74&amp;title=&amp;description=1&amp;tabindex=1">
    	<input type="hidden" class="gform_hidden" name="is_submit_74" value="1">
	   	<input type="hidden" class="gform_hidden" name="gform_submit" value="74">
  	 	<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
    	<input type="hidden" class="gform_hidden" name="state_74" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
    	<input type="hidden" class="gform_hidden" name="gform_target_page_number_74" id="gform_target_page_number_74" value="0">
    	<input type="hidden" class="gform_hidden" name="gform_source_page_number_74" id="gform_source_page_number_74" value="1">
	   	<input type="hidden" name="gform_field_values" value="">
	  </div>
  </form>
</div>

