<h1>Upload Cover Concept</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_67">
	<a id="gf_67" name="gf_67" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_67" id="gform_67" action="/projects/dejection-songs-by-alex-kimmell/#gf_67">
		<div class="gform_heading">
			<span class="gform_description">When you are ready for Booktrope management to review your cover, upload it here. We will review and approve or give notes on necessary changes.
				<p>
					If your design is not approved, you will have a chance to upload a revised cover concept.
				</p>
			</span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_67" class="gform_fields top_label description_below"><li id="field_67_8" class="gfield               gfield_contains_required"><label class="gfield_label" for="input_67_8">Cover Concept<span class="gfield_required">*</span></label><div class="ginput_container"><input type="hidden" name="MAX_FILE_SIZE" value="125829120"><input name="input_8" id="input_67_8" type="file" class="medium" tabindex="1"></div><div class="gfield_description">Please select an image file (jpg) of your cover concept for approval.</div></li><li id="field_67_10" class="gfield"><label class="gfield_label" for="input_67_10">Go to Project</label><div class="ginput_container"><input name="input_10" id="input_67_10" type="text" value="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" class="medium" tabindex="2"></div></li>
			</ul>
		</div>
		<div class="gform_footer top_label">
      <input type="submit" id="gform_submit_button_67" class="gform_button button" value="Submit" tabindex="3" onclick="if(window[&quot;gf_submitting_67&quot;]){return false;}  window[&quot;gf_submitting_67&quot;]=true; "><input type="hidden" name="gform_ajax" value="form_id=67&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_67" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="67">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_67" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_67" id="gform_target_page_number_67" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_67" id="gform_source_page_number_67" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>
