<h1>Upload Cover Templates</h1>
<div class="gf_browser_safari gform_wrapper" id="gform_wrapper_48" style="">
	<a id="gf_48" name="gf_48" class="gform_anchor"></a>
	<form method="post" enctype="multipart/form-data" target="gform_ajax_frame_48" id="gform_48" action="/projects/dejection-songs-by-alex-kimmell/#gf_48">
		<div class="gform_heading">
			<span class="gform_description">Please upload the cover templates.  </span>
		</div>
		<div class="gform_body">
			<ul id="gform_fields_48" class="gform_fields top_label description_below">
				<li id="field_48_1" class="gfield gfield_contains_required">
					<label class="gfield_label" for="input_48_1">Front Cover File<span class="gfield_required">*</span></label>
					<div class="ginput_container">
						<input type="hidden" name="MAX_FILE_SIZE" value="125829120">
						<input name="input_1" id="input_48_1" type="file" class="medium" tabindex="1">
					</div>
					<div class="gfield_description">Final Front cover jpeg only
						<p></p> 
						This will be used as your ebook cover and for display on vendor sites such as Amazon and BN.com</div></li><li id="field_48_2" class="gfield"><label class="gfield_label" for="input_48_2">CreateSpace Cover Template File</label><div class="ginput_container"><input type="hidden" name="MAX_FILE_SIZE" value="125829120"><input name="input_2" id="input_48_2" type="file" class="medium" tabindex="2"></div><div class="gfield_description">.pdf only</div></li><li id="field_48_3" class="gfield"><label class="gfield_label" for="input_48_3">Lightning Source Cover Template File</label><div class="ginput_container"><input type="hidden" name="MAX_FILE_SIZE" value="125829120"><input name="input_3" id="input_48_3" type="file" class="medium" tabindex="3"></div><div class="gfield_description">Please save the cover file for lightning source in the form [isbn_number_without_dashes]-cvr.pdf on your local computer before uploading here. Example: 1234567890123-cvr.pdf.</div></li><li id="field_48_14" class="gfield"><label class="gfield_label" for="input_48_14">Alternate Template File</label><div class="ginput_container"><input type="hidden" name="MAX_FILE_SIZE" value="125829120"><input name="input_14" id="input_48_14" type="file" class="medium" tabindex="4"></div><div class="gfield_description">This field is not typically used; do not upload anything here unless you have specifically discussed with Booktrope management. </div></li><li id="field_48_7" class="gfield               gfield_contains_required"><label class="gfield_label">Book Manager and Author Sign Off on following:<span class="gfield_required">*</span></label><div class="ginput_container"><ul class="gfield_checkbox" id="input_48_7"><li class="gchoice_7_1"><input name="input_7.1" type="checkbox" onclick="gf_apply_rules(48,[0]);" value="Author bio is correct?" id="choice_7_1" tabindex="5"><label for="choice_7_1" id="label_7_1">Author bio is correct?</label></li><li class="gchoice_7_2"><input name="input_7.2" type="checkbox" onclick="gf_apply_rules(48,[0]);" value="Book blurb on back is final?" id="choice_7_2" tabindex="6"><label for="choice_7_2" id="label_7_2">Book blurb on back is final?</label></li><li class="gchoice_7_3"><input name="input_7.3" type="checkbox" onclick="gf_apply_rules(48,[0]);" value="ISBN bar code matches ISBN on title page of laid out document?" id="choice_7_3" tabindex="7"><label for="choice_7_3" id="label_7_3">ISBN bar code matches ISBN on title page of laid out document?</label></li><li class="gchoice_7_4"><input name="input_7.4" type="checkbox" onclick="gf_apply_rules(48,[0]);" value="Author name and title are correct on front cover?" id="choice_7_4" tabindex="8"><label for="choice_7_4" id="label_7_4">Author name and title are correct on front cover?</label></li></ul></div></li><li id="field_48_16" class="gfield"><label class="gfield_label" for="input_48_16">Go to Project</label><div class="ginput_container"><input name="input_16" id="input_48_16" type="text" value="https://teamtrope.com/projects/dejection-songs-by-alex-kimmell/" class="medium" tabindex="9" onchange="gf_apply_rules(48,[0]);" onkeyup="clearTimeout(__gf_timeout_handle); __gf_timeout_handle = setTimeout(&quot;gf_apply_rules(48,[0])&quot;, 300);">
					</div>
				</li>
			</ul>
		</div>
		<div class="gform_footer top_label">
			<input type="submit" id="gform_submit_button_48" class="gform_button button" value="Submit" tabindex="10" onclick="if(window[&quot;gf_submitting_48&quot;]){return false;}  window[&quot;gf_submitting_48&quot;]=true; " style="display: none;"><input type="hidden" name="gform_ajax" value="form_id=48&amp;title=&amp;description=1&amp;tabindex=1">
			<input type="hidden" class="gform_hidden" name="is_submit_48" value="1">
			<input type="hidden" class="gform_hidden" name="gform_submit" value="48">
			<input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
			<input type="hidden" class="gform_hidden" name="state_48" value="WyJbXSIsIjRmY2NjODBlOGIxY2YzNWY4OWJkNTk5YTMyYTU5ZGZhIl0=">
			<input type="hidden" class="gform_hidden" name="gform_target_page_number_48" id="gform_target_page_number_48" value="0">
			<input type="hidden" class="gform_hidden" name="gform_source_page_number_48" id="gform_source_page_number_48" value="1">
			<input type="hidden" name="gform_field_values" value="">
		</div>
	</form>
</div>