<h1>Imprints</h1>

<table id="imprints_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @imprints.each do |imprint| %>
      <tr>
        <td><%= imprint.name %></td>
        <td><%= link_to 'Show', imprint %></td>
        <td><%= link_to 'Edit', edit_imprint_path(imprint) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#imprints_table").DataTable({ 'pageLength': '100'});
</script>


<%= link_to 'New Imprint', new_imprint_path %>
