<h1>Editing eBook Only Incentive for <br /><%= link_to @project.book_title, @project %></h1>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>


<%= link_to 'Show', @ebook_only_incentive %> |
<%= link_to 'Back', ebook_only_incentives_path %>
