<p>Booktrope Dev Team</p>

<p>
This is a test. You can send a emails with attachments via ActionMailer::Base.
It not only supports physical files, but if you pass it a content string and a
mime/type it will handle the attachment for you in memory. I will also look into
uploading the file to S3 and providing a link to the file in the body of the email.
</p>

<p>
Attached is a CSV file that I generated via the rake task:<br /><br />
rake teamtrope:generate_master_metadata_spreadsheet<br />
</p>

<p>
I'll leave a comment on TTR-30 asking the same question, what should the subject,
file name and message body of the report email be? I also need a recipient list.
</p>

<p>
Your file is attached below.
</p>
