<div class="container">
  <h1>Editing Required Role</h1>

  <div class="row">
    <div class="col-md-8">
      <%= render 'form' %>
    </div>
  </div>


  <%= link_to 'Show', @required_role %> |
  <%= link_to 'Back', required_roles_path %>
</div>
