<h1>Draft Blurbs</h1>

<table id="draft_blurbs_table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Draft blurb</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @draft_blurbs.each do |draft_blurb| %>
      <tr>
        <td class="book-title"><%= link_to draft_blurb.project.book_title, draft_blurb.project  %></td>
        <td><%= draft_blurb.draft_blurb %></td>
        <td><%= link_to 'Show', draft_blurb %></td>
        <td>
          <% if can? :edit, draft_blurb %>
            <%= link_to 'Edit', edit_draft_blurb_path(draft_blurb) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
  $("#draft_blurbs_table").DataTable({ 'pageLength': '100'});
</script>
