<h1>Draft Blurb  for <br /><%= link_to @project.book_title, @project %></h1>


<strong>Draft blurb:</strong>
<pre><%= @draft_blurb.draft_blurb %></pre>


<% if current_user.role? :booktrope_staff %>
  <%= link_to 'Edit', edit_draft_blurb_path(@draft_blurb) %> |
  <%= link_to 'Back', draft_blurbs_path %>
<% end %>
