<% provide(:title, "Posts") %>
<%= link_to "New", new_post_path %>
<div id="main-content" class="main-content">
	<div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
    	<%= render @posts %>
    	
    	<!-- TODO: add pagination -->			
			<nav class="navigation paging-navigation" role="navigation">
				<h1 class="screen-reader-text">Posts navigation</h1>
				<div class="pagination loop-pagination">
					<span class='page-numbers current'>1</span>
					<a class='page-numbers' href='#'>2</a>
					<span class="page-numbers dots">&hellip;</span>
					<a class='page-numbers' href='#'>12</a>
					<a class="next page-numbers" href="#">Next &rarr;</a>
				</div><!-- .pagination -->
			</nav><!-- .navigation -->    	
    	
		</div>
	</div>
</div>
<%= render "layouts/sidebar" %>
