<% provide(:title, "New Post") %>
<h1>New Post</h1>
<%= form_for @post, :html => { :multipart => true } do | f | %>
	<%= render "shared/error_messages", object: f.object %>
	<%= render "fields", f: f %>
	<%= f.submit "Create Post" %>
<% end %>
