<%
# amazon s3 uploads
[
  {
    label: "Media Kit (.pdf)", required: false, callback_url: project_media_kit_url(@project),
    form_id: "media_kit_document_s3_uploader", callback_param: "media_kit_document[direct_upload_url]",
    container_id: "media_kit_document_uploads_container", object: @media_kit, column_name: "document",
    controller_action: 'download_media_kit'
  }
].each do | s3_upload_hash | %>

<%= render partial: "shared/amazon_s3_upload", locals: s3_upload_hash %>

<% end %>



<%= simple_form_for(@media_kit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
