<br>
<%= render partial: "media_kit/media_kit_document" %>

<br>

<%= simple_form_for(@media_kit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.submit :submit, disabled: '', class: 'btn disabled', id: 'media_kit_submit_button' %>
  </div>
<% end %>
