/* Necessary to override some bad CSS being included from
  legacy Teamtrope.com */
.layout_approval ul li{
  list-style: disc;
}

th.issue_list_number {
  width: 80px;
}
th.issue_list_text {
  width: 300px;
}
