/**
 * Override the default styling to give us a nice dark gray background for the header for "The Grid"
 */
table.projectListTable thead th {
  text-align: center;
  background: #bbbbbb;
}

table.projectListTable thead th.sorting_asc {
  background: #bbbbbb image-url("dataTables/sort_asc.png") no-repeat right center;
}

table.projectListTable thead th.sorting_desc {
  background: #bbbbbb image-url('dataTables/sort_desc.png') no-repeat right center;
}

table.projectListTable thead th.sorting {
  background: #bbbbbb image-url('dataTables/sort_both.png') no-repeat right center;
}


#edit_layout_style .error {
  padding:5px;
  margin:7px 2px;
  border:1px solid red;
}

/**
 * Temporarily necessary to override the pcss3t styles and to clean up the inputs
 *
 * Used on the Team Change page forms.
 */
.collection_list_input * {
  margin-top: 0px !important;
}

.collection_list_input li {
  padding-left: 0px !important;
}

.collection_list_input li label {
  font-weight: normal;
  padding-left: 5px;
}

.collection_list_input input {
  padding: 2px 2px;
}

#remove_team_member_errors div {
  color: red !important;
  font-weight: bold;
}

/* Override pcss3t & typography styles to fix funny fonts */
.container h1,h2,h3,h4,h5 {
  font-family: inherit !important;
}

/** Try to make the errors show up better **/
span.validationError {
  color: red !important;
  font-weight: bold;
}

input.validationError {
  border: 1px dotted red;
}

#image_request_list_table {
  width: 800px;
  margin-bottom: 2px;
}

#image_request_list_table th {
  padding: 0px !important;
}

#image_request_list_table td {
  vertical-align: middle;
}

.psuedo_table_heading {
  background: #dfdfdf;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border: 1px solid  #dddddd;
  height: 40px;
}

.psuedo_table_row {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  padding: 8px;
  border: 1px solid  #dddddd;
  height: 56px;
  vertical-align: middle;
  text-align: center;
}

a.btn-fix {
  color: white !important;
  text-decoration: none !important;
}