#edit_layout_style .error {
  padding:5px;
  margin:7px 2px;
  border:1px solid red;
}

/**
 * Temporarily necessary to override the pcss3t styles and to clean up the inputs
 *
 * Used on the Team Change page forms.
 */
.collection_list_input * {
  margin-top: 0px !important;
}

.collection_list_input li {
  padding-left: 0px !important;
}

.collection_list_input li label {
  font-weight: normal;
  padding-left: 5px;
}

.collection_list_input input {
  padding: 2px 2px;
}

#remove_team_member_errors div {
  color: red !important;
  font-weight: bold;
}

/* Override pcss3t & typography styles to fix funny fonts */
.container * {
  font-family: inherit !important;
}

/** Try to make the errors show up better **/
span.validationError {
  color: red !important;
  font-weight: bold;
}

input.validationError {
  border: 1px dotted red;
}