/**
 * Override the default styling to give us a nice dark gray background for the header for "The Grid"
 */
table.projectListTable thead th {
  text-align: center;
  background: #bbbbbb;
}

table.projectListTable thead th.sorting_asc {
  background: #bbbbbb image-url("dataTables/sort_asc.png") no-repeat right center;
}

table.projectListTable thead th.sorting_desc {
  background: #bbbbbb image-url('dataTables/sort_desc.png') no-repeat right center;
}

table.projectListTable thead th.sorting {
  background: #bbbbbb image-url('dataTables/sort_both.png') no-repeat right center;
}

/**
 * New Project
 */

.input_description {
  margin-top: 2px;
}

.input_field {
  margin-bottom: 20px;
}

.input_field label div {
  margin-bottom: 0px !important;
}

input.upload_cover_checklist {
  margin-right: 5px !important;
}

label.collection_radio_buttons {
  margin-left: 8px;
}

ul.collection_radio_buttons {
  list-style: none;
}

li.cover_template_list {
  padding-top: 10px;
  padding-bottom: 10px;
}

li.cover_template_sign_off {
  padding-top: 2px;
  padding-bottom: 3px;
}

#edit_layout_style .error {
  padding:5px;
  margin:7px 2px;
  border:1px solid red;
}

label.error {
  color: red;
}

input.proofread_manuscript_checklist {
  float: left;
  margin: 5px 10px 5px 0px !important;
}

label.proofread_manuscript_checklist {
  display: block;
  overflow: auto;
}

input.prefunk_enrollment_checklist {
  float: left;
  margin: 5px 10px 5px 0px !important;
}

label.prefunk_enrollment_checklist {
  display: block;
  overflow: auto;
}

input.submit_to_layout_checklist {
  float: left;
  margin: 5px 10px 5px 0px !important;
}

label.submit_to_layout_checklist {
  display: block;
  overflow: auto;
}

/**
 * Temporarily necessary to override the pcss3t styles and to clean up the inputs
 *
 * Used on the Team Change page forms.
 */
.collection_list_input * {
  margin-top: 0px !important;
}

.collection_list_input li {
  padding-left: 0px !important;
}

.collection_list_input li label {
  font-weight: normal;
  padding-left: 5px;
}

.collection_list_input input {
  padding: 2px 2px;
}

#remove_team_member_errors div {
  color: red !important;
  font-weight: bold;
}

/* Override pcss3t & typography styles to fix funny fonts */
.container h1,h2,h3,h4,h5 {
  font-family: inherit !important;
}

/** Try to make the errors show up better **/
span.validationError {
  color: red !important;
  font-weight: bold;
  padding-left: 10px;
}

input.validationError {
  border: 1px dotted red;
}

#image_request_list_table {
  width: 800px;
  margin-bottom: 2px;
}

#image_request_list_table th {
  padding: 0px !important;
}

#image_request_list_table td {
  vertical-align: middle;
}

.psuedo_table_heading {
  background: #dfdfdf;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  border: 1px solid  #dddddd;
  height: 40px;
}

.psuedo_table_row {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  padding: 8px;
  border: 1px solid  #dddddd;
  height: 56px;
  vertical-align: middle;
  text-align: center;
}

a.btn-fix {
  color: white !important;
  text-decoration: none !important;
}

/** Submit Proofread Page **/
#target_market_launch_date_display, #promotion_start_date_display, #promotion_end_date_display {
  width: 130px;
  display: inline;
}

/** Details & Synopsis **/
#project_details_workflow_steps {
  width: auto !important;
  border: none;
}

#project_details_workflow_steps td {
  text-align: left;
  vertical-align: initial;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

#project_details_workflow_steps td:nth-child(1) {
  text-align: right;
  font-weight: bold;
  padding-right: 0px;
}

#project_details_workflow_steps tr:nth-child(odd) {
  background-color: #ffffff;
}

.radio-inline+.radio-inline {
  margin: 0px !important;
  vertical-align: top;
}

.radio-inline {
  margin: 0px !important;
  vertical-align: top;
  width: 150px;
}

/**
* Spinner http://jsfiddle.net/AndrewDryga/zcX4h/1/
*/

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
