<h4>Manuscript</h4>
Original: <%= link_to "DOWNLOAD", manuscript.original.url if manuscript.original? %><br />
Edited:   <%= link_to "DOWNLOAD", manuscript.edited.url   if manuscript.edited?   %><br />
Proofed:  <%= link_to "DOWNLOAD", manuscript.proofed.url  if manuscript.proofed?  %><br />