<h4>Manuscript</h4>
Original: <%= link_to "DOWNLOAD", download_original_manuscript_path(@project) if manuscript.original? %><br />
Edited:   <%= link_to "DOWNLOAD", download_edited_manuscript_path(@project)   if manuscript.edited?   %><br />
Proofed:  <%= link_to "DOWNLOAD", download_proofed_manuscript_path(@project)  if manuscript.proofed?  %><br />