<h4>Manuscript</h4>
Original: <%= link_to "DOWNLOAD", download_original_manuscript_path(@project)                      if manuscript.original? %><br />
Edited:   <%= link_to "DOWNLOAD", download_edited_manuscript_path(@project)                        if manuscript.edited?   %><br />
Proofread Reviewed:  <%= link_to "DOWNLOAD", download_proofread_reviewed_manuscript_path(@project) if manuscript.proofread_reviewed? %><br />
Proofread Final:     <%= link_to "DOWNLOAD", download_proofread_final_manuscript_path(@project)    if manuscript.proofread_final?  %><br />
