<h4>Cover Concept Notes</h4>
Cover Concept Notes: <%= @project.cover_concept.try(:cover_concept_notes) %><br/>

<h4>Cover Concept</h4>
<% if ! @project.cover_concept %>
    N/A<br/>
<% else %>
    Cover Concept: <%= link_to "DOWNLOAD", download_cover_concept_path(@project) if cover_concept.cover_concept? %><br/>
    Stock Cover Image: <%= link_to "DOWNLOAD", download_stock_cover_image_path(@project) if cover_concept.stock_cover_image? %><br/>
<% end %>
