        <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
          <button class="menu-toggle">Primary Menu</button>
          <a class="screen-reader-text skip-link" href="#content">Skip to content</a>
          <div class="menu-main-container">
            <ul id="menu-main" class="nav-menu">
              <li id="menu-item-1942" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1942"><%= link_to "Sign in", new_user_session_path %></li>
              <li id="menu-item-2014" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2014"><%= link_to "Sign up", new_user_registration_path %></li>
            </ul>
          </div>
        </nav>
