<div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
	<aside id="image-2" class="widget widget_image">
		<h1 class="widget-title">Authors, Start a New Project!</h1>
		<div class="jetpack-image-container">
			<figure style="width: 300px;" class="wp-caption alignleft">
				<a href="https://teamtrope.com/new-project-sign-up/">
					<img src="https://teamtrope.com/wp-content/uploads/2014/10/NewProjAd.jpg" title="button push" width="300" height="300" />
				</a>
				<figcaption class="wp-caption-text">Authors, we have made it even easier to get your next project going.</figcaption>
			</figure>
		</div>
	</aside>
	
	<aside id="bp_my_groups_widget-7" class="widget widget_bp_my_groups_widget">
	<h1 class="widget-title">My Groups</h1>
		<ul class="my-groups-list item-list">
			<li>
				<div class="item-avatar">
					<a href="https://teamtrope.com/groups/manuscript-evaluation/">
						<img src="https://teamtrope.com/wp-content/uploads/group-avatars/152/e901fa39c3549c147bb715a1e692a0fb-bpthumb.jpg" class="avatar group-152-avatar avatar- photo" width="50" height="50" alt="Group logo of 400 Manuscript Evaluation" title='400 Manuscript Evaluation' />
					</a>
				</div>
				<div class="item">
					<div class="item-title">
						<a href="https://teamtrope.com/groups/manuscript-evaluation/" title="400 Manuscript Evaluation">400 Manuscript Evaluation</a>
					</div>
				</div>
			</li>
			<li>
				<div class="item-avatar">
					<a href="https://teamtrope.com/groups/october-sprint-bookdrop-forced-workflow/"><img src="https://teamtrope.com/wp-content/uploads/group-avatars/140/7d420ad5273ce1a3db8c2c19c3680569-bpthumb.png" class="avatar group-140-avatar avatar- photo" width="50" height="50" alt="Group logo of Dev Chat" title='Dev Chat' /></a>
				</div>
				<div class="item">
					<div class="item-title">
						<a href="https://teamtrope.com/groups/october-sprint-bookdrop-forced-workflow/" title="Dev Chat">Dev Chat</a>
					</div>
				</div>
			</li>
		</ul>
		
		<input type="hidden" id="_wpnonce-groups" name="_wpnonce-groups" value="6e3d8d3cd7" /><input type="hidden" name="_wp_http_referer" value="/" />			<input type="hidden" name="groups_widget_max" id="groups_widget_max" value="" />
	</aside>
	
	<aside id="linkcat-110" class="widget widget_links">
		<h1 class="widget-title">Trope Links</h1>
		<ul class='xoxo blogroll'>
			<li>
				<a href="http://www.facebook.com/groups/378118492248588/" title="Booktropia is a private group to get to know each other and share promotions, events, information, and concerns." target="_blank">Booktropia (Facebook Group)</a>
				Booktropia is a private group to get to know each other and share promotions, events, information, and concerns.
			</li>
			<li>
				<a href="https://teamtrope.com/1099-form-info/" title="All team members must provide the attached information so we can set you with our payroll provider for monthly royalty payments." target="_blank">Get paid!</a>
				All team members must provide the attached information so we can set you with our payroll provider for monthly royalty payments.
			</li>
			<li>
				<a href="https://booktropeeditions.highrisehq.com/" title="Highrise is our growing database of media opportunities and the place to track contacts throughout your marketing campaign." target="_blank">Highrise Contact Management</a>
				Highrise is our growing database of media opportunities and the place to track contacts throughout your marketing campaign.
			</li>
		</ul>	
	</aside>
	
	<aside id="bp_group_calendar_user_groups-3" class="widget bp_group_calendar_user_groups">
		<h1 class="widget-title">Your Group Events</h1>
		<div class="widget-error">
			There are no upcoming events for your groups.
		</div>
	</aside>

	<aside id="bp_messages_sitewide_notices_widget-2" class="widget widget_bp_core_sitewide_messages buddypress widget">
		<h1 class="widget-title">Notices</h1>
		<div class="bp-site-wide-message">
			<div id="message" class="info notice" rel="n-12">
				<p>
					<strong>August Royalty Statements</strong><br />
					Hello fabulous Teamtropians.  Due to a technical issue, your August royalty reports have not been sent out.  We hope to have them in your inboxes on Monday, the 6th of October.  Thank you all for your patience with this matter, and if you have any questions, please do not hesitate to contact me.
				
					Thanks so much,
			
					Evie<a href="#" id="close-notice">Close</a>
				</p>
			</div>
		</div>
	</aside>
	
</div><!-- #content-sidebar -->