<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">
      * {
          font-family: sans-serif;
          font-size: 12pt;
      }

      table  {
          padding: 5px;
          border-spacing: 0px;
          border-collapse: collapse;
          border: 1px solid black;
      }
  </style>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#ffffff" leftmargin="0">

<%= yield %>

<% if !@project.nil? %>
    <p>Project Link: <%= link_to(@project.book_title, url_for(controller: 'projects', action: 'show', id: @project, only_path: false)) %></p>
<% end %>

</body>
</html>
